
@{

	Layout = "_Layout";
	
}
@section header {}

@RenderBody()
<div class="col-xs-1" align="center">
	<img src="~/Content/Img/online-shopping-on-credit-card.png"></img>
		<img src="~/Content/Img/2022-07-26-122208-internet-magazia.jpg"></img>
		<img src="~/Content/Img/5.jpg"></img>
</div>

@section footer {}